
@font-face { font-family: "Orbitron"; src: url("../fonts/Orbitron/static/Orbitron-Regular.ttf"); }
@font-face { font-family: "Ailerons"; src: url("../fonts/Ailerons/Ailerons-Regular.otf");  }
@font-face { font-family: "Hyperion"; src: url("../fonts/Hyperion/Hyperion\ Regular.woff"); }
@font-face { font-family: "SofiaPro"; src: url("../fonts/SofiaPro/SofiaProLightAz.otf"); }


:root {
  --dark-bg: rgba(15, 15, 15, 0.6);
  --spacing: 50vh;
  --empty: 50000px;
  --color: white;
  --theme-color: #fedd1f;

  font-size: calc(12px + 0.2vw);
  font-family: SofiaPro;
  font-weight: 400;
  font-style: normal;
  overflow: hidden;
  cursor: url('../assets/hud/pointer.png'), pointer;
  touch-action: none;
}


main {
  width: 100vw;
  height: 100%;
  color: var(--color);
  position: absolute;
  text-align: center;
  margin: 0px auto;
  display: grid;
  grid-template-columns: repeat(20, 1fr);
  /* need z-index for Safari - canvas overlaping main */
  z-index: 5;
}

main > * {
  grid-column: 6 / span 10;
  margin-bottom: var(--spacing);
  margin-top: var(--spacing);
}

h2, h3 {
  font-family: Ailerons, Hyperion;
  font-weight: 700;
  font-style: normal;
}


h1 {
  font-family: Ailerons, Hyperion;
  font-weight: 700;
  font-size: min(62px,6vw);
  font-style: normal;
  display: block; 
  perspective: 300px;
  transition: text-shadow 0.5s ease;
}

.left h1{
  transform: rotateY(7deg) rotateZ(-2deg) translateZ(-50px);
  text-shadow: 0px 0px 0 rgb(230,230,230),
    -1px 0px 0 rgb(205,205,205),
    -2px 0px 0 rgb(180,180,180),
    -3px 0px 0 rgb(155,155,155),
    -4px 0px  0 rgb(130,130,130),
    -5px 0px 4px rgba(0,0,0,0.47),
    -5px 0px 1px rgba(0,0,0,0.5),
    0px 0px 4px rgba(0,0,0,.2);
}

.right h1{
  transform: rotateY(-7deg) rotateZ(2deg) translateZ(-50px);
  text-shadow: 0px 0px 0 rgb(230,230,230),
    1px 0px 0 rgb(205,205,205),
    2px 0px 0 rgb(180,180,180),
    3px 0px 0 rgb(155,155,155),
    4px 0px  0 rgb(130,130,130),
    5px 0px 4px rgba(0,0,0,0.47),
    5px 0px 1px rgba(0,0,0,0.5),
    0px 0px 4px rgba(0,0,0,.2);
}


.left h1:hover {
  text-shadow: 
  0px 0px 2px rgba(255, 255, 255, 0.7),
  -1px 0px 5px rgba(255, 255, 255, 0.7),
  -2px 0px 7px rgba(255, 255, 255, 0.7),
  -5px 0px 10px #228dffd0,
  -6px 0px 17px #228dffd8,
  -10px 0px 20px #228dffe0 !important;
}


.right h1:hover {
  text-shadow: 
  0px 0px 2px rgba(255, 255, 255, 0.7),
  1px 0px 5px rgba(255, 255, 255, 0.7),
  2px 0px 7px rgba(255, 255, 255, 0.7),
  5px 0px 10px #228dffd0,
  6px 0px 17px #228dffd8,
  10px 0px 20px #228dffe0 !important;
}

canvas {
  position: fixed;
  top: 0;
  left: 0;
}


header {
  /* background: var(--dark-bg); */
  font-family: Hyperion;
  grid-column: 2 / span 18;
  font-size: min(48px,6vw);
  padding: 1vw;
  margin-top: calc(var(--spacing)/3);
  white-space: nowrap;
  z-index: 20;
}

section{
  padding: 1rem;
  /* background-color: var(--dark-bg); */
  font-size: 1.25rem;
  line-height: 1.5;
  text-align: center;  
  list-style-type: none;
}

blockquote {
  font-family: Ailerons;
  padding: 0;
  display:grid;
}

blockquote p {
  color: rgb(255, 255, 255);    
  font-size: 1.5rem;
  line-height: 1;
  margin: 0;
  text-align: left;
}

blockquote p span{
  background-color: var(--dark-bg);
}

blockquote p.author {
  text-align: right;
}

footer {
  font-family: Ailerons;
  line-height: 1;
  text-align: left;
  padding: 0;
  font-size: 1.5rem;
  padding-bottom: calc(var(--spacing)/3);
  display:grid;
}

footer a:link, a:visited {
  color: var(--theme-color);
  text-decoration: none;
}


.center {
  grid-column: 6 / span 10;
}

.left {
  grid-column: 2 / span 10;
}

.right {
  grid-column: 10 / span 10;
}

a:link, a:visited {
  color: var(--theme-color);
  text-decoration: none;
}

a:hover, a:active {
  color: lightgray;
  text-decoration: underline
}

exploreTooltip {
  color: var(--color);
  position: fixed; 
  top: 0; 
  right: 0; 
  padding: 1vw;
  background-color: var(--dark-bg);
  text-align: right;
}