:root {
    --size: 20vmin;
    --margin: calc(-1*var(--size)/2);
}

#loading-screen {
	position: absolute;
	z-index: 30;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	/* background-color: #07001a; */
    background-color: #000000;
    background-image: url("../assets/hud/intro.png");
    background-position: center; 
    background-size: contain;
    /* background-size: 300px;  */
    background-repeat: no-repeat;
	opacity: 1;
 	transition: 1s opacity 8s;
}

#loading-screen.fade-out {
    opacity: 0;
}

#loader {    
    position: absolute;
    left: 49.7%;
    top: 49.7%;
    width: var(--size);
    height: var(--size);
    margin: var(--margin) 0 0 var(--margin);
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #b7e3ed;
    -webkit-animation: spin 2.6s linear infinite;
    animation: spin 2.6s linear infinite;
}
#loader:before {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #005596;
    -webkit-animation: spin 4s linear infinite;
    animation: spin 4s linear infinite;
}
#loader:after {
    content: "";
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #0e84df;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}
@-webkit-keyframes spin {
    0%   {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@keyframes spin {
    0%   {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

#loader-text {
    display: grid;
    /* display: grid; */
    /* place-items: center; */
    /* grid-template-columns: repeat(auto-fit,minmax(240px,1fr)) */
    font-family: "Orbitron";
    font-weight: 200;
    font-style: normal;
    font-size: 20px;
    color: #195ebf;
    white-space: pre-wrap;
    position: absolute;
    top: 74%;
    left: 65%;
    -webkit-animation: slide 10s linear forwards;
    animation: slide 10s linear forwards;
    animation-delay: 1s;
}

#loader-text > *{
    line-height: 1;
    margin: 0;
}


.text-animate p{
    -webkit-animation: fade 10s linear forwards;
    animation: fade 10s linear forwards;
    opacity: 0;
}

/* @-webkit-keyframes fade {
    0% {opacity: 0;}
    5% {opacity: 1;}
    6% {opacity: 0;}
    7% {opacity: 1;}
    8% {opacity: 0;}
    9% {opacity: 1;}
    100% {opacity: 1;}
} */

@keyframes fade {
    0% {opacity: 0;}
    10% {opacity: 0;}
    12% {opacity: 1;}
    14% {opacity: 0.2;}
    16% {opacity: 1;}
    18% {opacity: 0.2;}
    20% {opacity: 1;}
    100% {opacity: 1;}
}

@-webkit-keyframes slide {
    0%   {transform: translate(0%, 0%);}
    31%  {transform: translate(0%, 0%);}
    35%  {transform: translate(0%, -35%);}
    64%  {transform: translate(0%, -35%);}
    68%  {transform: translate(0%, -70%);}
    100% {transform: translate(0%, -70%);}
}

@keyframes slide {
    0%   {transform: translate(0%, 0%);}
    31%  {transform: translate(0%, 0%);}
    35%  {transform: translate(0%, -35%);}
    64%  {transform: translate(0%, -35%);}
    68%  {transform: translate(0%, -70%);}
    100% {transform: translate(0%, -70%);}
}

#f1 {
    -webkit-animation-delay: 2s;
    animation-delay: 2s;
}

#f2 {
    -webkit-animation-delay: 4s;
    animation-delay: 4s;
}
#f3 {
    -webkit-animation-delay: 6.75s;
    animation-delay: 6.75s;
}

/* show page */
#loadOverlay{display: none;}