:root {
    --size: 300px;
    --margin: calc(-1*var(--size)/2);
}

#loading-screen {
	position: absolute;
	z-index: 30;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #07001a;
    /* background-color: #000000;
    background-image: url("../assets/hud/intro/big.png");
    background-position: center; 
    background-size: contain; */
    /* background-size: 300px;  */
    background-repeat: no-repeat;
	opacity: 1;
 	transition: 1s opacity 8s;
}

#loading-screen.fade-out {
    opacity: 0;
}

#loader {
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    width: var(--size);
    height: var(--size);
    margin: var(--margin) 0 0 var(--margin);
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #195ebf;
    -webkit-animation: spin 2.6s linear infinite;
    animation: spin 2.6s linear infinite;
}
#loader:before {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #750f50;
    -webkit-animation: spin 4s linear infinite;
    animation: spin 4s linear infinite;
}
#loader:after {
    content: "";
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #8F4a29;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}
@-webkit-keyframes spin {
    0%   {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@keyframes spin {
    0%   {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

#loader-text {
    height: 100%;
    width: 100%;
    display: grid;
    place-items: center;
}

#loader-text > *{
    /* display: grid; */
    grid-column: 1;
    grid-row: 1;
    /* grid-template-columns: repeat(auto-fit,minmax(240px,1fr)) */
}

.center-text {
    font-family: "Orbitron";
    font-weight: 200;
    font-style: normal;
    font-size: 20px;
    /* color: #093066; */
    color: #195ebf;
    white-space: pre-wrap;
    /* 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; */
}

.fade-animate p{
    -webkit-animation-name: fade;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-duration: 12s;
    animation-name: fade;
    animation-iteration-count: infinite;
    animation-duration: 12s;
}

@-webkit-keyframes fade {
    0% {opacity: 0;}
    20% {opacity: 1;}
    33% {opacity: 1;}
    53% {opacity: 0;}
    100% {opacity: 0;}
}
@keyframes fade {
    0% {opacity: 0;}
    20% {opacity: 1;}
    33% {opacity: 1;}
    53% {opacity: 0;}
    100% {opacity: 0;}
}

#f2 {
    -webkit-animation-delay: -8s;
    animation-delay: -8s;
}
#f3 {
    -webkit-animation-delay: -4s;
    animation-delay: -4s;
}