:root {
    --size: 40vmin;
    --margin: calc(-1*var(--size)/2);
}

#loading-screen {
	position: absolute;
	z-index: 30;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	/* background-color: #07001a; */
    background-color: #000000;
    background-image: url("../assets/hud/intro.png");
    background-position: center; 
    background-size: contain;
    /* background-size: 300px;  */
    background-repeat: no-repeat;
	opacity: 1;
 	transition: 1s opacity 8s;
}

#loading-screen.fade-out {
    opacity: 0;
}

#loader {    
    position: absolute;
    left: 49.7%;
    top: 49.7%;
    width: var(--size);
    height: var(--size);
    margin: var(--margin) 0 0 var(--margin);
    border-radius: 50%;
    border: 4px solid transparent;
    border-top-color: #b7e3ed;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}
#loader:before {
    content: "";
    position: absolute;
    top: 72px;
    left: 72px;
    right: 72px;
    bottom: 72px;
    border-radius: 50%;
    border: 4px solid transparent;
    border-top-color: #00355e; 
    -webkit-animation: spin 4s linear infinite;
    animation: spin 4s linear infinite;
}
#loader:after {
    content: "";
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
    border-radius: 50%;
    border: 4px solid transparent;
    border-top-color: #0e84df;
    -webkit-animation: spin 2.6s linear infinite;
    animation: spin 2.6s linear infinite;
}
@-webkit-keyframes spin {
    0%   {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@keyframes spin {
    0%   {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

#loader-text {
    display: grid;
    /* display: grid; */
    /* place-items: center; */
    /* grid-template-columns: repeat(auto-fit,minmax(240px,1fr)) */
    font-family: "Orbitron";
    font-weight: 200;
    font-style: normal;
    font-size: 20px;
    color: #195ebf;
    white-space: pre-wrap;
    position: absolute;
    top: 74%;
    left: 65%;
    -webkit-animation: slide 10s linear forwards;
    animation: slide 10s linear forwards;
    -webkit-animation-delay: 1.7s;
    animation-delay: 1.7s;
}

#loader-text > *{
    line-height: 1;
    margin: 0;
    opacity: 0;
}


#f1 {
    -webkit-animation: fade 10s linear 2s forwards;
    animation: fade 10s linear 2s forwards;
}

#f2 {
    -webkit-animation: fade 10s linear 4s forwards;
    animation: fade 10s linear 4s forwards;
}
#f3 {
    /* -webkit-animation: fade 10s linear 6s 1 forwards , blinking 1.5s linear 16s infinite ; */
    animation: fade 10s linear 6s 1 forwards ;
}

/* @-webkit-keyframes fade {
    0% {opacity: 0;}
    7% {opacity: 0;}
    9% {opacity: 0.2;}
    13% {opacity: 1;}
    17% {opacity: 0.2;}
    21% {opacity: 1;}
    25% {opacity: 0.2;}
    29% {opacity: 1;}
    100% {opacity: 1;}
} */

@keyframes fade {
    0% {opacity: 0;}
    7% {opacity: 0;}
    9% {opacity: 0.2;}
    13% {opacity: 1;}
    17% {opacity: 0.2;}
    21% {opacity: 1;}
    25% {opacity: 0.2;}
    29% {opacity: 1;}
    100% {opacity: 1;}
}

@-webkit-keyframes slide {
    0%   {transform: translate(0%, 0%);}
    31%  {transform: translate(0%, 0%);}
    35%  {transform: translate(0%, -35%);}
    53%  {transform: translate(0%, -35%);}
    57%  {transform: translate(0%, -70%);}
    100% {transform: translate(0%, -70%);}
}

@keyframes slide {
    0%   {transform: translate(0%, 0%);}
    31%  {transform: translate(0%, 0%);}
    35%  {transform: translate(0%, -35%);}
    53%  {transform: translate(0%, -35%);}
    57%  {transform: translate(0%, -70%);}
    100% {transform: translate(0%, -70%);}
}

@-webkit-keyframes blinking {
    0% {opacity: 1;}
    50% {opacity: 0.2;}
    100% {opacity: 1;}
}

@keyframes blinking {
    0% {opacity: 1;}
    50% {opacity: 0.2;}
    100% {opacity: 1;}
}

/* show page */
#loadOverlay{display: none;}