/* @import url("https://use.typekit.net/jmk3xov.css"); */
@font-face { font-family: "Orbitron"; src: url("../fonts/Orbitron/static/Orbitron-Regular.ttf"); }
/* @font-face { font-family: "Orbitron-Black"; src: url("../fonts/Orbitron/static/Orbitron-Black.ttf"); } */
@font-face { font-family: "Ailerons"; src: url("../fonts/Ailerons/Ailerons-Regular.otf"); }
/* @font-face { font-family: "Exan"; src: url("../fonts/Exan/Exan-Regular.ttf"); } */
@font-face { font-family: "Hyperion"; src: url("../fonts/Hyperion/Hyperion\ Regular.woff"); }
/* @font-face { font-family: "Primal"; src: url("../fonts/Primal/Primal\ Webfont.woff"); } */
/* @font-face { font-family: "Sarpanch"; src: url("../fonts/Sarpanch/Sarpanch-Regular.ttf"); } */

:root {
  --dark-bg: rgba(15, 15, 15, 0.6);
  --spacing: 350px;
  --empty: 50000px;

  font-family: Hyperion, sans-serif;
  font-weight: 400;
  font-style: normal;
  overflow: hidden;
  
}

main {
  width: 100vw;
  height: 100%;
  color: white;
  z-index: 20;
  position: absolute;
  text-align: center;
  margin: 0px auto;
  padding: 120px 0px;
  overflow-y: scroll;
  
  display: grid;
  grid-template-columns: repeat(20, 1fr);
  scroll-snap-type: y proximity;  

  cursor: url('../assets/hud/cursor.png'), pointer;
}

main > * {
  grid-column: 6 / span 10;
  margin-bottom: var(--spacing);
  margin-top: var(--spacing);
}


h1, h2, h3 {
  font-family: Ailerons, Hyperion;
  font-weight: 700;
  font-style: normal;
}

canvas {
  position: fixed;
  top: 0;
  left: 0;
}


  header {
    /* background: var(--dark-bg); */
    font-family: Hyperion;
    grid-column: 5 / span 12;
    font-size: 3vw;
    padding: 1vw;
    margin-top: 0;
    
  }


  section{
    padding: 1rem;
    background-color: var(--dark-bg);
    font-size: 1.25rem;
    line-height: 1.5;
    scroll-snap-align: start;
  }

  blockquote {
    font-family: Ailerons;
    padding: 0;
    display:grid;
    scroll-snap-align: center;
  }

  blockquote p {
    color: rgb(255, 255, 255);    
    font-size: 1.5rem;
    line-height: 1;
    margin: 0;
    text-align: left;
  }

  blockquote p span{
    background-color: var(--dark-bg);
  }

  blockquote p.author {
    text-align: right;
  }

  .center {
    grid-column: 6 / span 10;
  }

  .left {
    grid-column: 2 / span 10;
  }

  .right {
    grid-column: 10 / span 10;
  }